<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="">
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="connection.url">jdbc:hsqldb:mem:testdb;shutdown=false</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <!-- Echo all executed SQL to stdout useful for debugging if set to true-->
        <property name="show_sql">false</property>
        <property name="hbm2ddl.auto">create</property>
		
    	<mapping resource="be/shad/tsqb/tests/customTypes.hbm.xml" />
		<mapping class="be.shad.tsqb.domain.DomainObject" />
		<mapping class="be.shad.tsqb.domain.Town" />
		<mapping class="be.shad.tsqb.domain.Building" />
		<mapping class="be.shad.tsqb.domain.House" />
		<mapping class="be.shad.tsqb.domain.School" />
		<mapping class="be.shad.tsqb.domain.people.Person" />
		<mapping class="be.shad.tsqb.domain.people.PersonProperty" />
		<mapping class="be.shad.tsqb.domain.people.Relation" />
		
	</session-factory>
</hibernate-configuration>